@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: white;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  max-width: 400px;
  font-family: sans-serif;
  line-height: 1.5;
}

.card p {
  margin: 0;
  transition: max-height 0.4s ease-in-out;
}

.text-clamped,
.text-expanded {
  color: #9ca3af;
  font-size: 12px;
}

.text-clamped {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 4.5em;
}

.text-expanded {
  display: block;
}

.toggle-button {
  border: none;
  color: #55b8ff;
  font-size: 14px;
  font-weight: 500;
  transition: 0.5s;
  cursor: pointer;
}

.toggle-button:hover {
  color: #1e90ff;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.appear-article {
  position: relative;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 10%;
  transition: all 0.3s ease;
}

.appear-article:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(121, 121, 214, 0.3);
}

/* Heading text-4xl text-gray-200 font-bold
Sub Heading text-2xl text-gray-300
Paragraph text-sm text-gray-400 
* U can choose any tailwindcss color for the remaining colors *

added prettier
added routes
*/
